<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>AIsktagOS</vendor>
  <vendor_url>https://github.com/tagiriskaliev18-hash/AisktagOS</vendor_url>
  <action id="org.aisktagos.ai.model">
    <description>Управление моделями ИИ Mind</description>
    <message>Для установки или смены модели ИИ нужны права администратора</message>
    <icon_name>aisktagos-mind</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/aisktagos/ai/aisktag-ai-model</annotate>
  </action>
</policyconfig>
